extends layout

block content
  section#about.about-section
    h1.title About Me
    p.about-text I am a #{profession} specializing in #{specialization}.
    p.about-text I have worked on #{number_of_projects} projects, ranging from small personal projects to large-scale commercial web applications.
    p.about-text I am passionate about coding and always eager to learn new technologies and improve my skills.
    p.about-text For more information about my work, please visit my GitHub profile:
    a(href=github_link) GitHub