doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
      ul.nav-list
        li.nav-item
          a(href='/') Home
        li.nav-item
          a(href='/about') About
        li.nav-item
          a(href='/projects') Projects
        li.nav-item
          a(href='/contact') Contact
    .container
      block content