extends layout

block content
  section#projects.projects-section
    h1.title= title
    p.projects-text I have worked on a variety of projects, ranging from small personal projects to large-scale commercial applications. You can view my projects on my GitHub profile:
    a(href=github_link) GitHub