body {
  margin: 0;
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.container {
  margin: 20px auto;
  padding: 50px;
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-section,
.about-section,
.projects-section {
  background-color: #f9f9f9;
}

.project-section {
  background-color: #e9e9e9;
}

.text {
  font-size: 1.2em;
}

.intro-text,
.projects-text {
  color: #666;
}

.project-text,
.about-text {
  color: #333;
}

.title {
  color: #333;
  font-size: 2em;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #111;
}

.about-text {
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 20px;
}

.about-section a:hover {
  color: #0056b3;
}

.contact-form {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #444;
}

.thankyou-title {
  color: green;
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.thankyou-message {
  color: black;
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .title {
    font-size: 1.5em;
  }

  .navbar {
    padding: 5px;
  }

  .nav-item a {
    padding: 10px 12px;
  }

  section {
    padding: 10px;
    margin: 10px 0;
  }

  .text {
    font-size: 1em;
  }

  .about-text {
    font-size: 0.9em;
    line-height: 1.1;
  }

  .contact-form {
    padding: 10px;
  }

  .contact-form input[type='text'],
  .contact-form input[type='email'],
  .contact-form textarea {
    font-size: 0.9em;
  }

  .contact-form button {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}
